<ul>
	<li><%= link_to product.name, product_path(product) %></li>
	<li><%= product.description %></li>
	<li><%= product.formatted_price %></li>
	<%= link_to "Edit Product", edit_product_path(product) %>
</ul>
