<% @product.reviews.each do |review| %>
	<div class='review'>
			<p class='comment'>
					 <%= review.comment %>
							<br>
								 <% if review.user != nil %>
										<em> Posted by: <%= review.user.email %></em>
										 Added on: <%= review.created_at %>
					<% end %>
			</p>
	</div>
<% end %>
