<h1>Products</h1>

<%= link_to "Add New Product", product_path(:new) %>

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>

<div id="products">
	<%= render @products %>
</div>
