
<div>
	<%= render @product %>
</div>

 <h3>Reviews</h3>

	<p>Reviews for <%= @product.name %></p>


<div id='review-list'>
		<%= render :partial => 'reviews' %>
</div>

<div id='test-form'>
	<% if current_user %>
	<h4>New Review</h4>
	<%= form_for([@product, @review], :remote => true) do |f| %>
		<div id="review-form-errors">
				<%= render :partial => "/products/review_form_errors" %>
		</div>


		<div class="field">
			<%= f.label :comment %><br />
			<%= f.text_area :comment %>
		</div>

		<div class="actions">
			<%= f.submit "Create Review", id: 'review-submit'%>
		</div>
		<% end %>
</div>

<% else %>
	<p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>

<%= link_to 'Home', products_path %>


<script type="text/javascript">
// 	$(function() {
// 		 $("#review-submit").click(function(){
// 			 $.ajax({
// 				 beforeSend: function() { // set this code to happen just before the ajax request is made
// 					 $("input[type='submit']").val('Saving...');
// 					 $('input:submit').addClass('loading');
// 				 },
// 				 complete: function(){
// 					 $("input[type='submit']").val('Create Review');
// 						$('input:submit').removeClass('loading');
// 				 }
// 			 })
// 		 })
// });

	$(document).ready(function() {
		 $("#new_review")
				.on('ajax:beforeSend', function() {// set this code to happen just before the ajax request is made
					$("input[type='submit']") // make changes to the submit button
						.val('Saving...') // change the text on the button
						.attr('disabled', 'disabled'); // disable the button
				})
				.on('ajax:complete', function() {// set this code to happen just before the ajax request is made
					$("input[type='submit']")
						.val('Create Review')
						.removeAttr('disabled');
				});
	});
</script>
