 <h3>Reviews</h3>

	<p>Reviews for <%= @product.name %></p>

	<% @product.reviews.each do |review| %>
		<p>
			<%= review.comment %>
			<br>
			<% if review.user != nil %>
				<em> by <%= review.user.email %></em>
				Added on: <%= review.created_at %>
			<% end %>
		</p>
	<% end %>
